$base-aside-background-color: #001529;
$base-aside-width: 300px;
$base-header-height: 100px;
$base-header-background-color: azure;
$base-main-background-color: beige;
$loge-font-color: white;
$logo-height: 70px;
$logo-weight: 100%;
$logo-padding-left: 10px;
$logo-img-width: 60px;
$logo-img-height: 60px;
$title-font-size: 30px;
$title-padding-left: 10px;